h4 {
    color: red;
}

.dish{ /* Añadiendo estilo con la etiqueta className 'dish'*/
    width: 120px;
    height: 250px;
    border-radius: 5px; /* para redondear los bordes*/
    background-color: cadetblue;
}

/*
Frameworks de diseño con React
Material-UI
Prime React
Bootstrap
Office UI Fabric
Grommet
Elemental UI
*/