h4 {
    color: red;
}

.dish{ /* Añadiendo estilo con la etiqueta className 'dish'*/
    width: 120px;
    height: 200px;
    border-radius: 5px; /* para redondear los bordes*/
    background-color: cadetblue;
}